<template>
  <card :title="$t('home')">
    <div class="cont">
      {{ $t('you_are_logged_in') }}
      <router-link to="/profile" class="btn btn-info">
        Lihat profil saya
      </router-link>
    </div>
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>

<style scoped>
  .cont {
    display: flex;
    justify-content: space-between;
  }
</style>